ipywidgets==8.0.7
notebook==6.5.4
py-youtube==1.1.7
mkdocs-material==9.1.18

pytest==7.4.0
tox==4.6.4
black==23.3.0
flake8==6.0.0
mypy==1.4.1
-e .



# bash init_setup.sh
# python -m tox
# python -m pytest testpath/